.package_list_container {
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 0.3125rem 1.25rem 1.25rem rgba(0, 0, 0, .03);
    padding: 3.25rem 2.125rem 1.375rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.container_footer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: white;
    height: 70px;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem;

    .container_footer_totalprice {
        font-weight: 700;
    }
}

@media (max-width: 925px) {
    .package_list_container {
        grid-template-columns: 1fr;
    }

}